<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{- partial "head.html" . -}} <link rel="stylesheet" href="{{
    "/meet-the-team.css" | absURL }}">
  </head>
  <body>
    <header>{{- partial "header.html" . -}}</header>
    <main>
      {{- partial "meet-the-team/hero.html" . -}} {{- partial
      "meet-the-team/teams.html" . -}}
    </main>
    <footer>{{- partial "footer.html" . -}}</footer>
  </body>
</html>
