<!DOCTYPE html>
<html lang="en">
  <head>
    {{- partial "head.html" . -}} <link rel="stylesheet" href="{{
    "/chapters.css" | absURL }}">
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap");
    </style>
  </head>
  <body style="margin: 0px">
    <header>{{- partial "header.html" . -}}</header>
    <main style="background-color: #0078e8">
        <div class="chapter-div">
            <div class="left">
              <h1 class="headerTxt">{{.Title}}</h1>
              <h3 class="txt">{{.Params.header_text}}</h3>
              <div class="btns">
                <button class="work">JOIN US</button>
              </div>
            </div>
            <div class="right">
            </div>
          </div>
         <div class="hp-project-block">
        <h1 class="hp-abt-title">Canada 🇨🇦</h1>
        <div class="hp-projects">
          <div class="project_div">
            <img  src={{"images/default-project.png" | absURL }} alt="default-project" class="project-img">
            <h3 class="hp-project-title">University of Waterloo</h3>
            <p class="hp-project-details">Description about the university more description about the university more description about the university more...</p>
          </div>
          <div class="project_div">
            <img  src={{"images/default-project.png" | absURL }} alt="default-project" class="project-img">
            <h3 class="hp-project-title">University of Toronto</h3>
            <p class="hp-project-details">Description about the university more description about the university more description about the university more...</p>
          </div>
          <div class="project_div">
            <img  src={{"images/default-project.png" | absURL }} alt="default-project" class="project-img">
            <h3 class="hp-project-title">SFU</h3>
            <p class="hp-project-details">Description about the university more description about the university more description about the university more...</p>
          </div>
        </div>
      </div>
      <div class="hp-project-block" >
          <h1 class="hp-abt-title">USA 🇺🇸</h1>
        <div class="hp-projects">
          <div class="project_div">
            <img  src={{"images/default-project.png" | absURL }} alt="default-project" class="project-img">
            <h3 class="hp-project-title">UC Berkeley</h3>
            <p class="hp-project-details">Description about the university more description about the university more description about the university more...</p>
          </div>
          <div class="project_div">
            <img  src={{"images/default-project.png" | absURL }} alt="default-project" class="project-img">
            <h3 class="hp-project-title">UCLA</h3>
            <p class="hp-project-details">Description about the university more description about the university more description about the university more...</p>
          </div>
          <div class="project_div">
            <img  src={{"images/default-project.png" | absURL }} alt="default-project" class="project-img">
            <h3 class="hp-project-title">UC Irvine</h3>
            <p class="hp-project-details">Description about the university more description about the university more description about the university more...</p>
          </div>
        </div>
      </div>
    </main>
    <footer>{{- partial "footer.html" . -}}</footer>
  </body>
</html>
