#footer {
  padding: 20px 60px;
  background-color: #333333;
  display: flex;
  flex-direction: row;
  gap: 8%;
  justify-content: space-evenly;
  color: white;
  flex-wrap: wrap-reverse;
  font-family: "Lato", sans-serif;
}

#footer-logo {
  max-width: 200px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  font-family: "Lato", sans-serif;
}

#footer-logo p {
  margin: 10px 0;
}

#footer-content {
  max-width: 900px;
  display: flex;
  flex-grow: 1;
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-family: "Lato", sans-serif;
}

#footer-content div {
  min-width: max-content;
}

.h-top {
  font-size: 20px;
  font-weight: bold;
}

.content-links {
  margin-top: 15px;
  line-height: 10px;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.insta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a:link {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

a:visited {
  font-size: 18px;
  color: white;
  text-decoration: none;
}
