#footer-div {
  padding: 40px;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  color: white;
  flex-wrap: wrap;
  font-family: "Lato", sans-serif;
}

.h-top {
  font-size: 20px;
  font-weight: bold;
}

.content-links {
  margin-top: 15px;
  line-height: 10px;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.insta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a:link {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

a:visited {
  font-size: 18px;
  color: white;
  text-decoration: none;
}
