.nav {
  background-color: #0078e8;
}

.navBarContainer {
  display: flex;
  justify-content: space-between;
  padding-left: 67px;
  padding-right: 68px;
}

.navLogoContainer {
  display: flex;
  align-items: center;

  margin-top: 10px;
}

.navLogo {
  display: none; /* hiding all logos by default */
}

.Logo {
  display:block;
}

.navLogo {
  width: 225px;
  height: auto;
}

.navListContainer {
  display: flex;
}

.navList {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: 4px;
}

.navListItem {
  text-decoration: none;
  font-size: 20px;
  margin-left: 31px;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: white;
  white-space: nowrap;
}

.bpHeader {
  display: none;
}

.menu {
  display: none;
}

@media (max-width: 480px) {

  .Logo {
    display: none; 
  }
  .mobileLogo {
    display: block; 
    width: 42px;
    flex-shrink: 42px;
    margin-left:20px;
  }
  .navBarContainer {
    padding: 0 0 0 0;
  }

  .nav {
    background: var(--Dark-Blue, #0B2538);
  }

  .navListContainer {
    display:none;
  }

  .bpHeader {
    display: block;
    color: var(--White, #FFF);
    font-family: Arimo;
    font-size: 23.135px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left:5.78px;
  }

  .menu {
    width: 330px;
    height: 330px;
    flex-shrink: 0;
  }   

}