<!DOCTYPE html>
<html lang="en">
  <head>
    {{- partial "head.html" . -}} <link rel="stylesheet" href="{{
    "/nonprofits.css" | absURL }}">
  </head>
  <body>
    <header>{{- partial "header.html" . -}}</header>
    <main>
      <div class="hero-container">
        <div class="hero-content-container">
          <h1 class="hero-header">Nonprofits</h1>
          <p class="hero-content">
            As a partner, Blueprint will work with you to develop technology
            that turns your vision into a reality, completely free of charge.
          </p>
          <div class="hero-button-container">
            <button
              type="button"
              class="hero-button"
              onclick="window.location.href='https://docs.google.com/forms/d/e/1FAIpQLSfdpmq1FsUPIp1mRlJgmdbcJENuEg0IU3nB5KiIttYay-ebzA/viewform?usp=sf_linkk'"
            >
              WORK WITH US
            </button>
          </div>
        </div>
        <div class="hero-image-container">
          <img class="hero-image" src={{"images/for-nonprofits-puzzle.svg" |
          absURL }} alt="nonprofits hero img">
        </div>
      </div>

      <div class="services-container">
        <h2 class="services-header">Our Services</h2>
        <div class="service-container">
          <div class="service-row">
            <div class="service-image">
              <img src={{"images/monitor.svg" | absURL }} alt="monitor image">
            </div>
            <div class="service-content-container">
              <h3 class="service-header">Web Development</h3>
              <p class="service-content">
                Web applications let your users access information from any
                browser. This might be better for applications that need to be
                publicly available or ones that help facilitate task management.
              </p>
            </div>
          </div>

          <div class="service-row service-reverse">
            <div class="service-content-container">
              <h3 class="service-header right-justified">Mobile Development</h3>
              <p class="service-content right-justified">
                Mobile applications let your users download an app and access it
                on their phone. This might be better for applications that need
                to be portable or accessed with no internet connection.
              </p>
            </div>
            <div class="service-image">
              <img src={{"images/phone.svg" | absURL }} alt="phone image">
            </div>
          </div>
        </div>
      </div>

      <div class="application-container">
        <h2 class="application-header">Nonprofit Application Process</h2>
        <div class="application-content">
          <div class="process-row">
            <div class="process-number">01</div>
            <div class="process-content-container">
              <h3 class="process-header">Outreach</h3>
              <p class="process-content">
                Before the start of Fall term (September), we will be conducting
                outreach to find our yearlong partners! If your nonprofit is
                interested in an application, free of charge, email us at
                team@lablueprint.org!
              </p>
            </div>
          </div>
          <div class="process-row">
            <div class="process-number">|</div>
            <div class="process-content-container"></div>
          </div>
          <div class="process-row">
            <div class="process-number">02</div>
            <div class="process-content-container">
              <h3 class="process-header">Scoping Call</h3>
              <p class="process-content">
                Our team will set up a call to learn more about your nonprofit’s
                technical goals. We are dedicated to hearing about your
                organization’s current approach to driving social good and how
                we might help you.
              </p>
            </div>
          </div>
          <div class="process-row">
            <div class="process-number">|</div>
            <div class="process-content-container"></div>
          </div>
          <div class="process-row">
            <div class="process-number">03</div>
            <div class="process-content-container">
              <h3 class="process-header">
                Nonprofit Project Proposal Application
              </h3>
              <p class="process-content">
                After our scoping call, we ask you to fill out this project
                proposal application. Our team is committed to answering any
                questions or setting up additional meetings to support you.
              </p>
            </div>
          </div>
          <div class="process-row">
            <div class="process-number">|</div>
            <div class="process-content-container"></div>
          </div>
          <div class="process-row">
            <div class="process-number">04</div>
            <div class="process-content-container">
              <h3 class="process-header">Deliberation</h3>
              <p class="process-content">
                Our executive team and project leads will read through your
                project proposals and select the three applications we feel we
                can best support. We may also contact each nonprofit for
                additional information before continuing to the next step.
              </p>
            </div>
          </div>
          <div class="process-row">
            <div class="process-number">|</div>
            <div class="process-content-container"></div>
          </div>
          <div class="process-row">
            <div class="process-number">05</div>
            <div class="process-content-container">
              <h3 class="process-header">Development</h3>
              <p class="process-content">
                Our partnership has been initialized! Project development begins
                in October. Each nonprofit will have a team of 2 project leads,
                4-6 developers, and 2-3 designers dedicated to your project.
                Project leads will be in contact with your team regularly to
                ensure our application best captures your team’s vision.
              </p>
            </div>
          </div>
          <div class="process-row">
            <div class="process-number">|</div>
            <div class="process-content-container"></div>
          </div>
          <div class="process-row">
            <div class="process-number">06</div>
            <div class="process-content-container">
              <h3 class="process-header">Project Handoff</h3>
              <p class="process-content">
                After many iterations of user testing, development, and
                bug-amelioration, we will hand off our application to you. Our
                team is committed to making the handoff process as seamless as
                possible, so we will provide your team detailed documentation
                and guidance on project maintenance.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="criteria-container">
        <h2 class="criteria-header">Decision Criteria</h2>
        <div class="criteria-content-container">
          <div class="criteria-items">
            <div class="criteria-item">
              <img src={{"images/momentum-copy.png" | absURL }} alt="Impact
              Icon">
              <h4>Impact</h4>
              <p>How much will your project impact the community?</p>
            </div>
            <div class="criteria-item">
              <img src={{"images/warning-copy.png" | absURL }} alt="Necessity
              Icon">
              <h4>Necessity</h4>
              <p>How vital is your project to your non-profit organization?</p>
            </div>
            <div class="criteria-item">
              <img src={{"images/fence-copy.png" | absURL }} alt="Scope Icon">
              <h4>Scope</h4>
              <p>Is your project achievable within the allotted timeline?</p>
            </div>
            <div class="criteria-item">
              <img src={{"images/puzzle-piece-copy.png" | absURL }}
              alt="Technical Fit Icon">
              <h4>Technical Fit</h4>
              <p>Does your project use the capabilities of technology?</p>
            </div>
            <div class="criteria-item">
              <img src={{"images/guarantee-copy.png" | absURL }}
              alt="Credibility Icon">
              <h4>Credibility</h4>
              <p>Is there evidence that your project will have an impact?</p>
            </div>
          </div>
        </div>
      </div>

      <div class="faq-container">
        <h2 class="faq-header">Frequently Asked Questions</h2>
        <div class="faq-content-container">
          <div class="faq-item">
            <h3>How often do project teams and nonprofits meet?</h3>
            <p>
              The client and the project manager meet on a weekly or biweekly
              basis to ensure the project’s progress. There are project scoping
              meetings with the project manager at the project start, a formal
              midpoint presentation, and a final presentation where the project
              is delivered.
            </p>
          </div>
          <div class="faq-item">
            <h3>What is the client-team interaction like?</h3>
            <p>
              The client and the project manager meet on a weekly or biweekly
              basis to ensure the project’s progress. There are project scoping
              meetings with the project manager at the project start, a formal
              midpoint presentation, and a final presentation where the project
              is delivered.
            </p>
          </div>
          <div class="faq-item">
            <h3>How does Blueprint ensure success?</h3>
            <p>
              Through effective leadership and frequent check-ins with our
              clients we hope that the combination of talent, dedication, and
              care will result in a project that benefits your organization.
            </p>
          </div>
        </div>
      </div>

      <!-- <section id="learn-more-section">
      <div class="container">
        <h2>Hey! Want to Learn More About Blueprint?</h2>
        <p>Enter your email address to receive more information</p>
        <form action="#" method="post">
          <input type="email" placeholder="Enter your Email" required>
          <button type="submit">YES, I WANT TO LEARN MORE!</button>
        </form>
      </div>
    </section> -->
    </main>
    <footer>{{- partial "footer.html" . -}}</footer>
  </body>
</html>
