<!DOCTYPE html>
<html lang="en">
  <head>
    {{- partial "head.html" . -}} <link rel="stylesheet" href="{{
    "/nonprofits.css" | absURL }}">
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap");
    </style>
  </head>
  <body style="margin: 0px">
    <header>{{- partial "header.html" . -}}</header>
    <main style="background-color: #0078e8">
      <div class="nonprofits-hero">
        <div class="left">
          <h1 class="headerTxt">{{.Title}}</h1>
          <h3 class="txt">{{.Content}}</h3>
          <div class="btns">
            <button class="work">{{.Params.work_button_text}}</button>
          </div>
        </div>
        <div class="right">
          <img  src={{"images/for-nonprofits-puzzle.svg" | absURL }} alt="nonprofits hero img">
        </div>
      </div>
    </main>
    <footer>{{- partial "footer.html" . -}}</footer>
  </body>
</html>
<!--<!DOCTYPE html>¸
<html lang="en">
    <head>
        {{- partial "head.html" . -}}
        <link rel="stylesheet" href="{{ "/nonprofits.css" | absURL }}">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');
        </style>
    </head>
<body style="margin: 0px">
     Custom layout for the nonprofits page 
    <header>{{- partial "header.html" . -}}</header>

    <main style="font-family: Lato, sans-serif;">
        <div class="hero">
            <div class ="container">
                <div class="column">
                    <h1 class="hero-header">For Nonprofits</h1>
                    <p id="np-details">As a partner, Blueprint will work with you to develop technology that turns your vision into a reality, completely free of charge.</p>
                    <button class="work-button">WORK WITH US</button>
                  </div>
                  <div class="column image-container">
                    <img src={{ "images/for-nonprofits-puzzle.svg" | absURL }} alt="for nonprofits hero img">
                  </div>
            </div> 
          </div>
    </main>

    <footer>{{- partial "footer.html" . -}}</footer>
</body>
</html>-->