<div class="hero-container">
  <div class="hero-content-container">
    <h1 class="hero-header">Meet The Team</h1>
    <p class="hero-content">
      This team is a group of dedicated students looking to give back to their
      community, while working through school at the University of Alberta.
    </p>
    <div class="hero-button-container">
      <button
        class="hero-button"
        type="button"
        onclick="window.location.href='https://docs.google.com/forms/d/e/1FAIpQLSdj6pIXtvptM6WJORuUAg1blJhqR-L5ZssCpkTlsqleJRJcag/viewform?usp=sf_link'"
      >
        WORK WITH US
      </button>
    </div>
  </div>
  <div class="hero-image-container">
    <img class="hero-image" src={{"images/about-us-discussion-website.svg" |
    absURL }} alt="Team Creative Graphic" />
  </div>
</div>
