<!DOCTYPE html>
<html lang="en">
  <head>
    {{- partial "head.html" . -}} <link rel="stylesheet" href="{{
    "/projects.css" | absURL }}">
  </head>
  <body>
    <header>{{- partial "header.html" . -}}</header>
    <main>
      <div class="hero-container">
        <div class="hero-content-container">
          <h1 class="hero-header">Our Projects</h1>
          <p class="hero-content">
            All of Blueprint’s work is open source because we believe in
            building technology that makes us more open and connected.
          </p>
          <div class="hero-button-container">
            <button class="hero-button-github">
              <img class="github-icon" src="{{ "images/git.png" | absURL }}"
              alt="GitHub Icon"
              onclick="window.location.href='https://github.com/UofA-Blueprint'">
            </button>
            <button
              class="hero-button-work"
              onclick="window.location.href='/nonprofits/'"
            >
              WORK WITH US
            </button>
          </div>
        </div>
        <div class="hero-image-container">
          <img class="hero-image" src={{ "images/projects-discussion.svg" |
          absURL }} alt="Project Creative Graphic">
        </div>
      </div>

      <div class="current-projects-container">
        <h2 class="projects-header">Current Projects</h2>
        <div class="projects-content">
          {{ range .Params.currentProjects }} {{- partial "card.html" . -}} {{
          end }}
        </div>
      </div>

      <div class="past-projects-container">
        <h2 class="projects-header">Past Projects</h2>
        <div class="projects-content">
          {{ range .Params.pastProjects }} {{- partial "card.html" . -}} {{ end
          }}
        </div>
      </div>
    </main>
    <footer>{{- partial "footer.html" . -}}</footer>
  </body>
</html>
