<!DOCTYPE html>
<html lang="en">
  <head>
    {{- partial "head.html" . -}} <link rel="stylesheet" href="{{
    "/projects.css" | absURL }}">
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap");
    </style>
  </head>
  <body style="margin: 0px">
    <header>{{- partial "header.html" . -}}</header>
    <main style="background-color: #0078e8">
      <div class="projectsHero">
        <div class="left">
          <h1 class="headerTxt">{{.Title}}</h1>
          <h3 class="txt">{{.Content}}</h3>
          <div class="btns">
            <button class="gitHub">
              <img style="width: 19px; height: auto; padding-top: 2px" src="{{
              "images/git.png" | absURL }}" alt="GitHub icon">
            </button>
            <button class="work">{{.Params.work_button_text}}</button>
          </div>
        </div>
        <div class="right">
          <img style="width: 460px; height: auto;" src={{
          "images/projects-discussion.svg" | absURL }} alt="for projects hero
          img">
        </div>
      </div>
    </main>
    <footer>{{- partial "footer.html" . -}}</footer>
  </body>
</html>
