<!DOCTYPE html>
<html lang="en">
  <head>
    {{- partial "head.html" . -}} <link rel="stylesheet" href="{{
    "/forstudents.css?version=51" | absURL }}">
  </head>
  <body>
    <header>{{- partial "header.html" . -}}</header>
    <main>
      <div class="hero-container">
        <div class="hero-content-container">
          <h1 class="hero-header">For Students</h1>
          <p class="hero-content">
            Joining Blueprint is a great way to give back to your community.
            Help us build our applications and work with nonprofits!
          </p>
        </div>
        <div class="hero-image-container">
          <img src={{ "images/home-about-us-diagram.svg" | absURL }}
          alt="Students Creative Graphic" class="hero-image">
        </div>
      </div>

      <div class="application-container">
        <h2 class="application-header">Student Application Process</h2>
        <div class="application-content">
          <div class="process-row">
            <div class="process-number">01</div>
            <div class="process-content-container">
              <h3 class="process-header">Applications Open</h3>
              <p class="process-content">
                Before the start of Fall term (September), we will be opening
                our application to recruit members across different positions.
              </p>
            </div>
          </div>
          <div class="process-row">
            <div class="process-number">|</div>
            <div class="process-content-container"></div>
          </div>
          <div class="process-row">
            <div class="process-number">02</div>
            <div class="process-content-container">
              <h3 class="process-header">Infosessions</h3>
              <p class="process-content">
                Learn more about our club and our projects during our
                infosessions! We will be talking about what you can expect when
                you join Blueprint and answer any questions you may have.
              </p>
            </div>
          </div>
          <div class="process-row">
            <div class="process-number">|</div>
            <div class="process-content-container"></div>
          </div>
          <div class="process-row">
            <div class="process-number">03</div>
            <div class="process-content-container">
              <h3 class="process-header">Applications Due</h3>
              <p class="process-content">
                The application includes 2 short questions to help us understand
                your background and your motivations for joining Blueprint.
              </p>
            </div>
          </div>
          <div class="process-row">
            <div class="process-number">|</div>
            <div class="process-content-container"></div>
          </div>
          <div class="process-row">
            <div class="process-number">04</div>
            <div class="process-content-container">
              <h3 class="process-header">Interviews</h3>
              <p class="process-content">
                An interview to learn more about your background and your
                experiences. This will be an opportunity to show your passion
                for social good and ability to problem solve. Invited candidates
                will be emailed to sign up for an interview slot.
              </p>
            </div>
          </div>
          <div class="process-row">
            <div class="process-number">|</div>
            <div class="process-content-container"></div>
          </div>
          <div class="process-row">
            <div class="process-number">05</div>
            <div class="process-content-container">
              <h3 class="process-header">Meet the Club</h3>
              <p class="process-content">
                Let’s chat! We will send out invites to schedule a time to talk.
                At Blueprint, we want to know what inspires you most, allow you
                to meet our team, and answer any questions you may have!
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="criteria-container">
        <h2 class="criteria-header">Decision Criteria</h2>
        <div class="criteria-content-container">
          <div class="criteria-items">
            <div class="criteria-item">
              <img src={{"images/fire1-copy.png" | absURL }} >
              <h4>Passion</h4>
              <p>
                Are you excited to dedicate time, energy, and compassion towards
                understanding and building with communities?
              </p>
            </div>
            <div class="criteria-item">
              <img src={{"images/growth-copy.png" | absURL }} >
              <h4>Growth</h4>
              <p class="criteria-content">
                Do you actively seek out ways to grow? Do you take action to
                work towards that growth?
              </p>
            </div>
            <div class="criteria-item">
              <img src={{"images/steering-wheel-copy.png" | absURL }} >
              <h4>Resourcefulness</h4>
              <p>
                Are you self-motivated and driven? Do you adapt to new
                environments and challenges?
              </p>
            </div>
            <div class="criteria-item">
              <img src={{"images/personality-copy.png" | absURL }} >
              <h4>Attitude</h4>
              <p>
                Do you approach problems and challenges with an open mind? Are
                you able to work through unfamiliar situations?
              </p>
            </div>
            <div class="criteria-item">
              <img src={{"images/puzzle-piece-copy.png" | absURL }} >
              <h4>Teamwork</h4>
              <p>
                Do you enjoy collaborating and learning with others? Do you
                value others' perspectives and experiences?
              </p>
            </div>
            <div class="criteria-item">
              <img src={{"images/support-copy.png" | absURL }} >
              <h4>Culture</h4>
              <p>
                Are you looking forward to developing meaningful relationships
                with our members and partners beyond the work environment?
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="faq-container">
        <h2 class="faq-header">Frequently Asked Questions</h2>
        <div class="faq-content-container">
          <div class="faq-item">
            <h3>Do I need experience to apply?</h3>
            <p>
              Technical experience is not a requirement! We look for passion and
              drive above all, as we will help support our members to grow and
              learn about our tools.
            </p>
          </div>
          <div class="faq-item">
            <h3>How much of a time commitment is Blueprint?</h3>
            <p>
              We expect about 10-12 hours out of our members per week. This will
              be split between worksessions, team bonding, and individual time
              spent on a project.
            </p>
          </div>
          <div class="faq-item">
            <h3>How are the project teams structured?</h3>
            <p>
              Project teams typically consist of 1 project lead, 4-6 developers,
              and 1-2 designers. Our projects are developed and designed over
              Fall - Spring every year.
            </p>
          </div>
          <div class="faq-item">
            <h3>Do I get to choose the team that I am on?</h3>
            <p>
              When you join Blueprint, we will have a period for project leads
              to present their projects to the rest of Blueprint. You may then
              fill out an interest form and we will put people onto teams of
              their choice.
            </p>
          </div>
        </div>
      </div>
    </main>
    <footer>{{- partial "footer.html" . -}}</footer>
  </body>
</html>
