<!DOCTYPE html>
<html lang="en">
  <head>
    {{- partial "head.html" . -}} <link rel="stylesheet" href="{{
    "/forstudents.css" | absURL }}">
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap");
    </style>
  </head>
  <body style="margin: 0px">
    <header>{{- partial "header.html" . -}}</header>
    <main style="background-color: #0078e8">
      <div class="forStudentsHero">
        <div class="left">
          <h1 class="headerTxt">{{.Title}}</h1>
          <h3 class="txt">{{.Content}}</h3>
          <div class="btns">
            <button class="join">{{.Params.join_button_text}}</button>
          </div>
        </div>
        <div class="right">
          <img style="width: 360px; height: auto;" src={{
          "images/home-about-us-diagram.svg" | absURL }} alt="forstudents hero
          img">
        </div>
      </div>
      <div class="application-process">
        <h1 class="application-header">Student Application Process</h1>
        <div class="application-content">
          <div class="app-section">
            <div class="number-section">01</div>
            <div class="process-section">
              <h2 class="process-header">Outreach</h2>
              <p class="process-content">Before the start of Fall term (September), we will be conducting outreach to find our yearlong partners! If your nonprofit is interested in an application, free of charge, email us at team@lablueprint.org!</p>
            </div>
          </div>
          <div class="app-section">
            <div class="number-section">|</div>
            <div class="process-section"></div>
          </div>
          <div class="app-section">
            <div class="number-section">02</div>
            <div class="process-section">
              <h2 class="process-header">Scoping Call</h2>
              <p class="process-content">Our team will set up a call to learn more about your nonprofit’s technical goals. We are dedicated to hearing about your organization’s current approach to driving social good and how we might help you.</p>
            </div>
          </div>
          <div class="app-section">
            <div class="number-section">|</div>
            <div class="process-section"></div>
          </div>
          <div class="app-section">
            <div class="number-section">03</div>
            <div class="process-section">
              <h2 class="process-header">Nonprofit Project Proposal Application</h2>
              <p class="process-content">After our scoping call, we ask you to fill out this project proposal application. Our team is committed to answering any questions or setting up additional meetings to support you.</p>
            </div>
          </div>
          <div class="app-section">
            <div class="number-section">|</div>
            <div class="process-section"></div>
          </div>
          <div class="app-section">
            <div class="number-section">04</div>
            <div class="process-section">
              <h2 class="process-header">Deliberation</h2>
              <p class="process-content">Our executive team and project leads will read through your project proposals and select the three applications we feel we can best support. We may also contact each nonprofit for additional information before continuing to the next step.</p>
            </div>
          </div>
          <div class="app-section">
            <div class="number-section">|</div>
            <div class="process-section"></div>
          </div>
          <div class="app-section">
            <div class="number-section">05</div>
            <div class="process-section">
              <h2 class="process-header">Development</h2>
              <p class="process-content">Our partnership has been initialized! Project development begins in October. Each nonprofit will have a team of 2 project leads, 4-6 developers, and 2-3 designers dedicated to your project. Project leads will be in contact with your team regularly to ensure our application best captures your team’s vision.</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>{{- partial "footer.html" . -}}</footer>
  </body>
</html>
