<div id="footer">
  <div id="footer-logo">
    <div>
      <p style="color: white; font-size: 40px; font-weight: bold">
        <img src="../images/logo.png" alt="" width="30" />
        blueprint
      </p>
  
      <p style="font-size: 16px; color: grey">© Blueprint 2024</p>
    </div>
  </div>

  <div id="footer-content">
    <div>
      <h3 class="footer-header">General</h3>
      <div class="content-links">
        <p><a href={{ "/" | relURL }}>Home</a></p>
        <p><a href={{ "/meet-the-team" | relURL }}>Teams</a></p>
        <p><a href={{ "/projects" | relURL }}>Projects</a></p>
      </div>
    </div>

    <div>
      <h3 class="footer-header">For Students</h3>
      <div class="content-links">
        <p><a  href="{{ "/forstudents" | relURL }}">Process</a></p>
        <p><a href="{{ "/forstudents" | relURL }}#faq-sec">FAQs</a></p>
      </div>
    </div>

    <div>
      <h3 class="footer-header">For Nonprofits</h3>
      <div class="content-links">
        <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfdpmq1FsUPIp1mRlJgmdbcJENuEg0IU3nB5KiIttYay-ebzA/viewform?usp=sf_link">Apply</a></p>
        <p><a  href="{{ "/nonprofits" | relURL }}">Process</a></p>
        <p><a href="{{ "/nonprofits/" | relURL }}#faq-sec">FAQs</a></p>
      </div>
    </div>

    <div>
      <h3 class="footer-header">Contact Us</h3>
      <div class="content-links">
        <p>
          <img
            src="../images/footer-social-icons/Mail.png"
            alt=""
            width="15"
            color="white"
          />
          <a href="mailto:bluep@ualberta.ca">Mail</a>
        </p>
        <p>
          <img
            src="../images/footer-social-icons/LinkedIn.png"
            alt=""
            width="15"
            color="white"
          />
          <a
          
            href="https://www.linkedin.com/company/uofa-blueprint/"
            >LinkedIn</a
          >
        </p>
        <p class="insta">
          <img
            src="../images/footer-social-icons/Instagram.png"
            alt=""
            width="15"
            color="white"
          />
          <a href="https://www.instagram.com/uofablueprint/"
            >Instagram</a
          >
        </p>

        <p>
          <img
            src="../images/footer-social-icons/GitHub.png"
            alt=""
            width="15"
            color="white"
          />
          <a href="https://github.com/UofA-Blueprint">
            GitHub</a
          >
        </p>
        <p>
          <img
            src="../images/footer-social-icons/Medium.png"
            alt=""
            width="15"
            color="white"
          />
          <a href="https://medium.com/@uofablueprint"
            >Medium</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
