#footer {
  padding: 3rem 10vw;
  background-color: var(--Dark-Gray, #333333);
  display: flex;
  flex-direction: row;
  gap: 12%;
  justify-content: space-evenly;
  color: white;
  flex-wrap: wrap-reverse;
  font-family: "Lato", sans-serif;
}

#footer-logo {
  width: 12.5rem;
  margin-top: 0.625rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  font-family: "Lato", sans-serif;
}

#footer-logo p {
  margin: 0.625rem 0;
}

#footer-content {
  max-width: 56.25rem;
  display: flex;
  flex-grow: 1;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-family: "Lato", sans-serif;
}

#footer-content div {
  min-width: max-content;
}

.footer-header {
  font-size: 1.125rem;
  font-weight: bold;
}

.content-links {
  margin-top: 1rem;
  line-height: 0.625rem;
}

.content-links > p > a {
  color: white;
  font-size: 1.125rem;
  text-decoration: none;
}

.content-links > p > :hover {
  color: var(--Light-Blue, #cbe0f8);
  text-decoration: underline var(--Light-Blue, #cbe0f8);
}

.insta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 328px) {
  #footer {
    padding: 3rem 5vw;
  }
}
