main {
  width: 100%;
  font-family: Lato;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 5vw;
  gap: 1rem;
  width: 100%;
  min-height: 24rem;
  background-size: cover;
  background-image: linear-gradient(
      180deg,
      #1062b7 0%,
      rgba(16, 98, 183, 0.23) 100%
    ),
    url("images/TeamBondingPic.png");
  color: white;
}

.hero-header {
  font-size: 2.25rem;
  margin: 0;
}

.hero-content {
  font-size: 1.5rem;
}

.mission-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem 5vw;
}

.mission-header {
  font-size: 2.25rem;
  text-align: center;
  color: var(--Primary, #0078e8);
  margin: 0;
}

.mission-content {
  font-size: 1.5rem;
  text-align: center;
  width: 60%;
  margin: 0;
  color: var(--Dark-Gray, #333333);
}

.values-container {
  display: flex;
  padding: 3rem 10%;
  gap: 3rem;
  flex-direction: column;
  background-color: var(--Light-Gray, #f8f8f8);
}

.values-header {
  font-size: 2.25rem;
  text-align: center;
  margin: 0;
  color: var(--Dark-Blue, #0b2538);
}

.value-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3rem;
}

.value-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  max-width: 100%;
  max-height: min-content;
}

.value-content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 80%;
  gap: 1rem;
}

.value-header {
  color: var(--Primary, #0078e8);
  font-size: 1.5rem;
  margin: 0;
}
.value-content {
  color: #afafaf;
  font-size: 1.125rem;
  margin: 0;
}

.value-image {
  display: flex;
  height: 10rem;
  width: auto;
}

.right-justified {
  text-align: right;
}

@media (max-width: 768px) {
  .mission-container {
    align-items: start;
  }

  .mission-header,
  .mission-content {
    text-align: left;
    width: 100%;
  }

  .value-row {
    flex-direction: column;
  }

  .value-number {
    display: none;
  }

  .value-header {
    text-align: center;
  }

  .value-content {
    text-align: center;
  }

  .value-reverse {
    flex-direction: column-reverse;
  }
}
