@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap");

main {
  background-color: #0078e8;
  font-family: Lato;
  width: 100%;
}

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
  min-height: 24rem;
  padding: 2rem 5vw;
}

.hero-content-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 40%;
  gap: 1rem;
}

.hero-header {
  color: white;
  font-size: 2rem;
  margin: 0;
}

.hero-content {
  color: white;
  font-size: 1.125rem;
  margin: 0;
}

.hero-button-container {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-button {
  color: #ffffff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background-color: inherit;
  border: 1px solid white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  padding: 8px 13px;
}

.hero-button:hover {
  background-color: #3f99ed;
}

.hero-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: right;
}

.hero-image {
  width: 100%;
  height: auto;
  max-height: 20rem;
}

.teams-container {
  display: flex;
  padding: 3rem 10vw;
  flex-direction: column;
  gap: 4rem;
  background-color: #ffffff;
}

.team-container {
  display: flex;
  gap: 3rem;
  flex-direction: column;
}

.team-break {
  border: var(--Light-Gray, #afafaf83) solid 1px;
  width: 100%;
  margin: 0;
}

main .team-container:last-of-type > hr {
  display: none;
}

.team-header {
  color: #0078e8;
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

.team-members-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

.team-member {
  display: flex;
  width: 20%;
  min-width: 12rem;
  flex-direction: column;
  padding: 0 1rem;
}

.member-image-container {
  display: flex;
  justify-content: center;
  height: auto;
}

.member-image {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 5px #147be5 solid;
}

.member-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 4%;
}

.member-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
}

.member-name {
  font-weight: bold;
  font-size: 1.125rem;
  margin: 0;
}

.member-position {
  font-size: 1.125rem;
  margin: 0;
}

.member-linkedin-container {
  display: flex;
  height: 100%;
  align-items: start;
  justify-content: end;
}

.member-linkedin {
  margin: 0;
  width: 2.5rem;
  height: auto;
  aspect-ratio: 1 / 1;
}

@media (max-width: 768px) {
  .hero-container {
    padding: 3rem 5vw;
  }

  .hero-image-container {
    display: none;
  }

  .hero-content-container {
    width: 100%;
  }
}
