.nav {
  background-color: #0078e8;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 5vw;
}

.nav-logo-container {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.mobile-logo {
  display: none;
}

.desktop-logo {
  display: block;
}

.nav-logo {
  width: 14rem;
  height: auto;
}

.nav-list-container {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-list-item {
  display: flex;
  text-decoration: none;
  font-size: 1.125rem;
  margin-left: 2rem;
  letter-spacing: 0.03rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  color: #ffffffff;
  white-space: nowrap;
}

.nav-logo-text {
  display: none;
}

.burgerMenu {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.burger-image {
  display: none;
  width: 10vw;
  max-width: 2.5rem;
  cursor: pointer;
}

.show {
  display: block !important;
}

@media (max-width: 1280px) {
  .nav-list-container {
    position: relative; /* needed for relative positioning of dropdown menu */
  }

  .nav-list {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #0078e8;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .nav-list li {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0.5rem;
  }

  .nav-list li:last-child {
    border-bottom: none;
  }

  .burgerMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .white-burger {
    display: block !important;
  }
  
}

/* @media (max-width: 768px) {
  .desktop-logo {
    display: none;
  }

  .mobile-logo {
    display: block;
    width: 42px;
    flex-shrink: 42px;
    margin-left: 20px;
  }

  .nav-container {
    padding: 0 0 0 0;
  }

  .nav {
    background: var(--Dark-Blue, #0b2538);
  }

  .nav-logo-text {
    display: block;
    color: var(--White, #fff);
    font-family: Arimo;
    font-size: 23.135px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 5.78px;
  }

  .menu {
    width: 330px;
    height: 330px;
    flex-shrink: 0;
  }
} */
