body {
  margin: 0px;
}

.main {
  background-color: #0078e8;
}

.nonprofits-hero {
  display: flex;
  flex-direction: row;
}

.heroImage {
  width: 560px;
  height: auto;
}

.left {
  flex: 9;
  flex-direction: column;
  padding-left: 66px;
  padding-right: 50px;
  margin-bottom: 40px;
  padding-bottom: 30px;
}

.btns {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right {
  flex: 1;
  padding-right: 50px;
  padding-top: 10px;
  align-self: right;
  margin-top: 30px;
}

.headerTxt {
  font-family: Lato;
  color: white;
  font-size: 42px;
}

.txt {
  margin-bottom: 1%;
  font-family: Lato;
  color: white;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 0em;
}

.work {
  color: #ffffff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background-color: inherit;
  border: 1px solid white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  padding: 8px 13px;
  margin-top: 8px;
}

.work:hover {
  background-color: #3f99ed;
}

.our-services {
  display: flex;
  font-family: Lato;
  flex-direction: column;
  background-color: #f8f8f8;
}
.services-container {
  margin-right: 10%;
  margin-left: 10%;
}
.services-header {
  font-size: 36px;
  text-align: center;
}
.service-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3%;
  font-size: 18px;
}
.text-header,
p {
  color: #0078e8;
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 4%;
  font-size: 24px;
}

.service-content {
  flex: 0 0 80%;
}

.service-img {
  width: 100%;
  height: auto;
}
p {
  color: #afafaf;
}
.application-process {
  background-color: #ffffff;
  display: flex;
  font-family: Lato;
  flex-direction: column;
  padding-bottom: 2%;
}
.application-content {
  margin: 0 15%;
}
.app-section {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.number-section {
  flex: 0.2;
  text-align: center;
  font-size: 48px;
  color: #147be5;
  font-weight: 700;
}

.process-section {
  flex: 0.8;
}

.process-header {
  font-size: 24px;
}
.process-content {
  font-size: 18px;
}

#decision-criteria-sec {
  padding: 2em 0;
  background-color: #f8f8f8;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.decision-criteria-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.decision-criteria {
  display: flex;
  flex-direction: column;
  margin: 10%;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.decision-criteria h3 {
  font-size: 36px;
  color: var(--Dark-Blue, #0b2538);
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1.4em;
}

.criteria-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 2em;
}

.criteria-item {
  flex: 1 1 200px;
  max-width: 200px;
  margin-left: 30px;
  margin-right: 30px;
}

.criteria-item img {
  width: 100px;
  height: 100px;
  margin-bottom: -1.5em;
}

.criteria-item h4 {
  font-size: 1.2em;
  margin-bottom: -0.5em;
}

.criteria-item p {
  font-size: 1em;
  color: var(--Dark-Blue, #0b2538);
}

#faq-sec {
  background-color: white;
  padding-top: 5%;
  padding-left: 4%;
  padding-right: 4%;
}

#faq-sec .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0;
}

#faq-sec h2 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 30px;
  font-family: "Lato", sans-serif;
  color: var(--Dark-Blue, #0b2538);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.faq-item {
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.faq-item h3 {
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  color: #333;
  color: var(--Dark-Blue, #0b2538);
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.faq-item p {
  font-size: 20px;
  line-height: 1.6;
  font-family: "Lato", sans-serif;
  color: #afafaf;

  margin: 0;
}

@media (max-width: 768px) {
  #faq-sec h2 {
    font-size: 2em;
  }

  .faq-item h3 {
    font-size: 1.2em;
  }

  .faq-item p {
    font-size: 0.9em;
  }
}

#learn-more-section {
  background-color: #f8f8f8;
  padding: 50px 0;
  text-align: center;
  font-family: "Lato", sans-serif;
}

#learn-more-section .container {
  max-width: 800px;
  margin: 0 auto;
}

#learn-more-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  color: #0b2538;
  font-weight: 700;
}

#learn-more-section p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #333;
  color: var(--Dark-Blue, #0b2538);
  font-family: Lato;
  font-size: 1.7em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#learn-more-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#learn-more-section input[type="email"] {
  margin-top: 45px;
  padding: 10px;
  font-size: 1em;
  width: 100%;
  max-width: 588px;
  margin-bottom: 20px;
  border: 1px solid #ffffff;
  border-radius: 6px;

  flex-shrink: 0;
  color: var(--Gray, #afafaf);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#learn-more-section button {
  background-color: #0078e8;
  color: #fff;
  padding: 10px 170px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--White, #fff);
  text-align: center;
  font-family: Lato;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 65px;
}

#learn-more-section button:hover {
  background-color: #005bb5;
}
