.hero {
    background-color: #0B2538;
    color: white;
  }

  .container{
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
  }
  .hero-header{
    padding-top: 0;
    font-size: 40px;
  }
  .work-button{
    color: #ffffff;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    background-color: inherit;
    margin-top: 2%;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    padding: 6px 15px;
  }
  .work-button:hover{
    background-color: #57a2e8;
  }
  #np-details{
    font-size: 28px;
    font-weight: 300;
  }
  
  .column {
    flex: 1;
    padding: 20px 70px;
    
  }
  .service-header{
    margin:0;
    text-align: center;

  }
  .our-services{
    background-color: #F8F8F8;
    justify-content: center;
  }
  .services-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;

  }
  .services-column {
    flex: 1;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
  }
  .image-container {
    text-align: center;
    padding-top: 2%;
  }

  /* causes an error with the footer images! */
  /* img {
    width: 100%;
    height: auto;
  } */
