main {
  background-color: #0078e8;
  font-family: Lato;
  width: 100%;
}

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
  flex-wrap: nowrap;
  height: 24rem;
  padding: 2rem 5vw;
}

.hero-content-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 40%;
  gap: 1rem;
}

.hero-header {
  color: white;
  font-size: 2rem;
  margin: 0;
}

.hero-content {
  color: white;
  font-size: 1.125rem;
  margin: 0;
}

.hero-button-container {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.hero-button-github {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  background-color: inherit;
  border: 1px solid white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  overflow: hidden;
  padding: 0.2rem 0.3rem;
  cursor: pointer;
}

.github-icon {
  height: 1.45rem;
}

.hero-button-work {
  color: #ffffff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background-color: inherit;
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px 13px;
  min-width: max-content;
  cursor: pointer;
}

.hero-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: right;
}

.hero-image {
  max-height: 20rem;
}

.current-projects-container {
  display: flex;
  padding: 3rem 10vw;
  gap: 3rem;
  flex-direction: column;
  background-color: #ffffff;
}

.past-projects-container {
  display: flex;
  padding: 3rem 10vw;
  gap: 3rem;
  flex-direction: column;
  background-color: #f8f8f8;
}

.projects-header {
  font-size: 2.25rem;
  text-align: center;
  margin: 0;
  color: var(--Dark-Blue, #0b2538);
}

.projects-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 5.5rem;
  gap: 5rem;
}

@media (max-width: 768px) {
  .hero-container {
    padding: 3rem 5vw;
  }

  .hero-image-container {
    display: none;
  }

  .hero-content-container {
    width: 100%;
  }
}
