@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap");

:root {
  --Dark-Blue: #0b2538;
  --Dark-Gray: #333333;
  --Light-Gray: #f8f8f8;
  --Light-Blue: #cbe0f8;
  --Primary: #0078e8;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 18rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 19.5rem;
  font-family: Lato;
}

.card-image-container {
  width: 18rem;
  height: 7rem;
  overflow: hidden;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card-image {
  width: 18rem;
  height: auto;
}

.card-content-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
  width: 100%;
  height: 13.5rem;
}

.card-header {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  color: var(--Dark-Blue, #0b2538);
}

.card-content {
  font-size: 1.125rem;
  margin: 0;
  color: var(--Dark-Gray, #333333);
}

.small-card-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 18rem;
  border-radius: 0.5rem;
  background-color: var(--Light-Blue, #cbe0f8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 19.5rem;
  font-family: Lato;
}

.small-card-image-container {
  width: 18rem;
  height: 11rem;
  overflow: hidden;
  border-radius: 0.5rem 0.5rem 0 0;
}

.small-card-image {
  width: 18rem;
  height: auto;
}

.small-card-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
  width: 100%;
  height: 8.5rem;
}

.small-card-header {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  color: var(--Primary, #0078e8);
}
