Footer
<div id="footer-div" style="margin: 0px 100px; padding: 60px 40px; background-color: #333333; ">
    <div style="display: flex; justify-content: space-between; color: white; flex-wrap: wrap; padding: 0px 50px;">
        <div>
            <img src="../../../Assets/blueprint_white.png" alt="" width="150px">
            <p style="font-size: 12px;">Copyright {{ now.Year }}. All rights reserved.</p>
        </div>

        <div>
            <h3>General</h3>
                <p>Home</p>
                <p>Teams</p>
                <p>Projects</p>

        </div>

        <div>
            <h3>For Students</h3>
            <div>
                <p>Apply</p>
                <p>Process</p>
                <p>FAQs</p>
            </div>
        </div>

        <div>
            <h3>For Nonprofits</h3>
            <div>
                <p>Apply</p>
                <p>Process</p>
                <p>FAQs</p>
            </div>
        </div>

        <div>
            <h3>Contact Us</h3>
            <div>
                <p>
                    <a href="mailto:bluep@ualberta.ca">Mail</a>
                </p>
                <p>
                    <a href="https://www.linkedin.com/company/uofa-blueprint/">LinkedIn</a>
                </p>
                <p>
                    <a href="https://www.instagram.com/uofablueprint/">Instagram</a>
                </p>
                
                <p>
                    <a href="https://github.com/UofA-Blueprint">GitHub</a>
                </p>
                <p>
                    <a href="https://medium.com/@uofablueprint">Medium</a>
                </p>
            </div>
        </div>


    </div>
               
</div>