<nav class="nav">
  <div class="nav-container">
    <div class="nav-logo-container">
      <a href={{ "/"| relURL}}>
        <img class="nav-logo desktop-logo" src="{{ "images/bp-logo.png" | absURL }}"
        alt="Blueprint Logo"/>
        <img class="nav-logo mobile-logo" src="{{ "images/logo.png" | absURL }}"
        alt="Blueprint Logo"/>
      
      </a>
      <p class="nav-logo-text">blueprint</p>
    </div>

    <div class="nav-list-container">
      <div class="burgerMenu" id="burgerMenu">
        <img class="burger-image white-burger" src="{{ "images/white-burger-menu.svg" | absURL }}" alt="burger"/>
        <img class="burger-image gray-burger" src="{{ "images/gray-burger-menu.svg" | absURL }}" alt="burger"/>
      </div>
      <ul class="nav-list">
        <li><a class="nav-list-item" href={{ "/about" | relURL }}>About Us</a></li>
        <li><a class="nav-list-item" href={{ "/projects" | relURL }}>Projects</a></li>
        <li><a class="nav-list-item" href={{ "/forstudents" | relURL }}>For Students</a></li>
        <li><a  class="nav-list-item" href={{ "/nonprofits" | relURL }}>For Nonprofits</a></li>
        <li><a class="nav-list-item" href={{ "/meet-the-team" | relURL }}>The Team</a></li>
        <li><a class="nav-list-item" href={{ "/chapters" | relURL }}>Chapters</a></li>
        <li><a class="nav-list-item" href={{ "/sponsors" | relURL }}>Partners</a></li>
      </ul>
    </div>
  </div>
</nav>
<script>
  document.getElementById('burgerMenu').addEventListener('click', function() {
    var navList = document.querySelector('.nav-list');
    navList.classList.toggle('show');
  });
</script>
