<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>UofA BluePrint</title>
<link rel="icon" href="{{ "images/logo.png" | absURL }}" type="image/x-icon"/>
<link rel="stylesheet" href="{{ "/navbar.css" | absURL }}">
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Lato&display=swap"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Arimo:700&display=swap"
/>
<link rel="stylesheet" href="{{ "/footerStyle.css" | absURL }}">
