<nav class="nav">
  <div class="navBarContainer">
    <div class="navLogoContainer">
      <a href="#"
        ><img class="navLogo" src="{{ "images/logo.png" | absURL }}"
        alt="Profile Pic"/></a
      >
      <a class="navLogoText" href={{ "" | relURL }}>blueprint</a>
    </div>
    <div class="navListContainer">
      <ul class="navList">
        <li><a class="navListItem" href="#">About Us</a></li>
        <li><a class="navListItem" href="#">Projects</a></li>
        <li><a class="navListItem" href="#">For Students</a></li>
        <li>
          <a  class="navListItem" href={{ "/nonprofits" | relURL }}>For Nonprofits</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
